.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;

    --breakout-size: calc(
            (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

img.full-width {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
}

.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

:root {
    --color-scheme: dark;

    --font-family: "Inter", system-ui;

    --fs-default: 16px;
    --fs-section-title: 32px;
    --fs-title: 40px;

    --clr-background: #1a1a1a;
    --clr-background-menu: #141414;
    --clr-background-button: #f9c666;
    --clr-title: #fdebc9;
    --clr-font: #9f9b93;
    --clr-font-button: #1a1a1a;
    --clr-link: #f9c666;
    --clr-border: #272727;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: var(--color-scheme);
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--fs-default);
    background: var(--clr-background);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.site-title {
    font-size: var(--fs-title);
    line-height: 1.05;
    text-transform: uppercase;
}

.section-title {
    font-size: var(--fs-section-title);
    line-height: 1.1;
}

.bg-primary {
    background: darkslategrey;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.call-to-action {
    padding: 1rem;
    background: hsl(0 0% 100% / 0.15);
}

.wrapper {
    width: calc(100% - 3rem);
    max-width: 900px;
    margin-inline: auto;
}

.flow > * + * {
    margin-top: 1em;
}

.section-padding {
    padding-block: 2.5rem;
}

.primary-header {
    padding-block: 1.3rem;
    margin-block-end: 3rem;
    background: var(--clr-background-menu);
    border-bottom: 1px solid var(--clr-border);
}

.primary-header__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primary-footer {
    padding-block: 1rem;
    margin-block-start: 3rem;
    background: var(--clr-background-menu);
    border-top: 1px solid var(--clr-border);
}

.primary-footer__layout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}

.logo {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 22px;
    color: var(--clr-link);
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}

nav a {
    color: inherit;
    text-decoration: none;
    font-weight: 800;
    padding: 12px 20px;
    border-radius: 8px;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: var(--clr-link);
    background-color: hsl(0, 0%, 10%);
}

.even-columns {
    display: flex;
    gap: 1rem;
}

.button {
    text-align: center;
    border-radius: 8px;
    background: var(--clr-background-button);
    color: var(--clr-font-button);
    padding: 12px 20px;
}

.button:hover,
.button:focus {
    color: var(--clr-font-button);
    text-decoration: none;
    background: var(--clr-background-button);
}

.not-available {
    cursor: not-allowed;
}
